S3_INTERNAL_ENDPOINT=http://S3:8333
S3_EXTERNAL_ENDPOINT=http://localhost:8333
S3_ACCESS_KEY=ABCDEF
S3_SECRET_KEY=123456
S3_BUCKET=photopro
S3_REGION=seaweedFS
DB_HOST=galerie.db
DB_PORT=5432
DB_NAME=galeriedb
DB_USER=admin
DB_PASS=
