RABBITMQ_HOST=rabbitmq
RABBITMQ_PORT=5672
RABBITMQ_USER=photopro
RABBITMQ_PASS=photopro
RABBITMQ_EXCHANGE=photopro.events
RABBITMQ_ROUTING_KEY_PHOTO_UPLOADED=photo.uploaded
RABBITMQ_QUEUE_GALERIE_PHOTOS=galerie_photos

DB_HOST=galerie.db
DB_PORT=5432
DB_NAME=galeriedb
DB_USER=admin
DB_PASS=admin
